/*Styling of Progress Bar Component*/
.wrapper {
    position: relative;
    width: 100%; 
    overflow: visible;
  }
  
  #rocket {
    position: absolute;
    height: 80px; 
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: left 400ms; 
    z-index: 5;
  }
  
  .custom-progress-bar { 
    height: 20px; 
    background-color: #000080; 
    border-radius: 10px;
    z-index: 1;
  }
  
  .custom-progress-bar .progress-bar {
    background-color: #ff712f; 
    z-index: 1;
  }

  @keyframes idleRocket {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px); 
    }
    
  }
  